{
  "extends": [
    "react-app"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0
  }
}